<div id="register-container">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field text-field">
      <%= f.text_field :fname, autofocus: true, autocomplete: "name", :placeholder => 'First Name', :class => 'text-input' %>
    </div>

    <div class="field text-field">
      <%= f.text_field :lname, autofocus: true, autocomplete: "name", :placeholder => 'Last Name', :class => 'text-input' %>
    </div>

    <div class="field text-field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => 'Email', :class => 'text-input' %>
    </div>

    <div class="field text-field">
      <% if @minimum_password_length %>
        <%= f.password_field :password, autocomplete: "new-password", :placeholder => ("Password ( > " + @minimum_password_length.to_s + " letters)"), :class => 'text-input' %>
      <% else %>
        <%= f.password_field :password, autocomplete: "new-password", :placeholder => "Password", :class => 'text-input' %>
      <% end %>
    </div>

    <div class="field text-field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => 'Password Confirmation', :class => 'text-input' %>
    </div>

    <div class="actions submit-btn">
      <%= f.submit "Sign up", :class => 'btn btn-primary btn-block' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>