<div class="content-container-center-align">
  <h3 id="my-dashboard-title" ><b><%= @user.fname %>'s Dashboard</b></h3>

  <div class="breaker"></div>

  <h5 id="audio-uploaded-accordion-title" ><b>Uploaded Files</b></h5>

  <!-- START button bar-->
  <div id="audio-file-btn-group">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown" data-toggle="tooltip" title="Upload new file">
      <a href=<%= new_upload_file_path %> class="btn btn-secondary" role="button" ><%= fa_icon "plus" %></a>
    </div>
  </div>
  <!-- END button bar-->

  <div class="accordion" id="audio-upload-accordion">
  <!-- start single file template-->
    <% @uploadedfiles.each do |uploadedfile| %>
    <div class="card">
      <div class="card-header" id=<%= "card-header-" + uploadedfile.id.to_s %> >
        <h2 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target=<%= "#collapse" + uploadedfile.id.to_s %> onClick="invertArrow('<%= "card-header-" + uploadedfile.id.to_s %>')" aria-expanded="false" aria-controls=<%= "collapse" + uploadedfile.id.to_s %>>
            <div class="audio-file-name" ><%= uploadedfile.fileName %></div>
            <div class="collapse-arrow" ><i class="arrow down"></i></div>
          </button>
        </h2>
      </div>
      <div id=<%= "collapse" + uploadedfile.id.to_s %> class="collapse" aria-labelledby=<%= "card-header-" + uploadedfile.id.to_s %> data-parent="#audio-upload-accordion">
        <div class="card-body">
          <div class="preview-container">
            <div class="row">
              <div class="col-sm-4">
                <table class="preview-field">
                  <tr>
                    <th>Description</th>
                  </tr>
                  <tr>
                    <td>
                      <% if uploadedfile.description.blank? %>
                        N/A
                      <% else %>
                        <%= uploadedfile.description %>
                      <% end %>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-3">
                <table class="preview-field">
                  <tr>
                    <th>Uploaded</th>
                  </tr>
                  <tr>
                    <td><%= uploadedfile.updated_at.strftime("%m/%d/%Y") %></td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-2">
                <table class="preview-field">
                  <tr>
                    <th>Size</th>
                  </tr>
                  <tr>
                    <td><%= (uploadedfile.audio_file.byte_size * 0.000001).round(2).to_s + " MB" %></td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-3 view-file-btn-container">
                <a href=<%= show_upload_file_path(uploadedfile.id) %> class="btn btn-secondary btn-sm forward-btn">
                  <div class="collapse-arrow" >View File <i class="arrow right"></i></div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <% end %>
    <!-- end single file template-->

    <% if @uploadedfiles.length == 0 %>
      <p>No files have been uploaded.</p>
    <% end %>
  </div>


  <h5 id="audio-shared-accordion-title" ><b>Shared With Me</b></h5>
  <div class="accordion" id="audio-shared-accordion">
    <% @sharedfiles.each do |sharedfile| %>
      <% sharedfile_associated_file = sharedfile.uploadedfile %>
      <% user = sharedfile_associated_file.user %>
    <!-- start single file template-->
    <div class="card">
      <div class="card-header" id=<%= "shared-card-header" + sharedfile.id.to_s %>>
        <h2 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target=<%= "#shared-collapse" + sharedfile.id.to_s %> onClick="invertArrow('<%= "shared-card-header" + sharedfile.id.to_s %>')" aria-expanded="false" aria-controls=<%= "shared-collapse" + sharedfile.id.to_s %>>
              <div class="audio-file-name" ><%= sharedfile_associated_file.fileName %></div>
              <div class="collapse-arrow" ><i class="arrow down"></i></div>
          </button>
        </h2>
      </div>
      <div id=<%= "shared-collapse" + sharedfile.id.to_s %> class="collapse" aria-labelledby=<%= "shared-card-header" + sharedfile.id.to_s %> data-parent="#audio-shared-accordion">
        <div class="card-body">

          <div class="preview-container">
            <div class="row">
              <div class="col-sm-3">
                <table class="preview-field">
                  <tr>
                    <th>Description</th>
                  </tr>
                  <tr>
                    <td><%= sharedfile_associated_file.description %></td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-3">
                <table class="preview-field">
                  <tr>
                    <th>Shared By</th>
                  </tr>
                  <tr>

                    <td><%= user.fname + " " + user.lname %></td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-2">
                <table class="preview-field">
                  <tr>
                    <th>Uploaded</th>
                  </tr>
                  <tr>
                    <td><%= sharedfile_associated_file.updated_at.strftime("%m/%d/%Y") %></td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-2">
                <table class="preview-field">
                  <tr>
                    <th>Size</th>
                  </tr>
                  <tr>
                    <td><%= (sharedfile_associated_file.audio_file.byte_size * 0.000001).round(2).to_s + " MB" %></td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-2 view-file-btn-container">
                <a href=<%= show_upload_file_path(sharedfile.uploadedfile.id) %> class="btn btn-secondary btn-sm forward-btn">
                <div class="collapse-arrow" >View File <i class="arrow right"></i></div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- start single file template-->
    <% end %>

    <% if @sharedfiles.length == 0 %>
      <p>No files have been shared with you.</p>
    <% end %>

  </div>

</div>

