<div class="content-container-left-align">
  <a href=<%= user_dashboard_path %> class="btn btn-secondary btn-sm back-btn">
    <div class="collapse-arrow" ><i class="arrow left"></i> Back to Dashboard</div>
  </a>

  <h3>Add Friends</h3>
  <%= form_for :something, url: add_friend_path do |f| %>

    <div class="field text-field">
      <%= text_field_tag :friend_email, "", :placeholder => 'Email', :class => 'text-input form-control', required: true %>
    </div>

    <div class="actions submit-btn">
      <%= submit_tag "Add Friend", :class => 'btn btn-primary btn-block' %>
    </div>
  <% end %>

  <div>
    <div class="breaker"></div>
    <h3>Sent Requests</h3>

    <% @sentRequests.each do |request| %>
          <div class="field text-field shared-user-container">
            <% userInfo = "#{request.fname} #{request.lname} (#{request.email})" %>
            <div class="input-group mb-3">
              <input type="text" name="share_email" value='<%= userInfo %>' class="form-control shared-user-disabled-input" disabled>
              <div class="input-group-append">
                <a href=<%= remove_friend_path(request) %> type="button" class="btn btn-danger"><%= fa_icon "minus", class: "fa-2x" %></a>
              </div>
            </div>
          </div>
    <% end %>

    <% if @sentRequests.length == 0 %>
          <p>You have not sent any friend requests.</p>
    <% end %>
  </div>

  <div>
    <div class="breaker"></div>
    <h3>Received Requests</h3>

    <% @receivedRequests.each do |request| %>
          <div class="field text-field shared-user-container">
            <% userInfo = "#{request.fname} #{request.lname} (#{request.email})" %>
            <div class="input-group mb-3">
              <input type="text" name="share_email" value='<%= userInfo %>' class="form-control shared-user-disabled-input" disabled>
              <div class="input-group-append">
                <a href=<%= accept_friend_path(request) %> type="button" class="btn btn-danger"><%= fa_icon "plus", class: "fa-2x" %></a>
              </div>
            </div>
          </div>
    <% end %>

    <% if @receivedRequests.length == 0 %>
          <p>You have not received added any friend requests.</p>
    <% end %>
  </div>

  <div>
    <div class="breaker"></div>
    <h3>Friends</h3>

    <% @friends.each do |friend| %>
      <div class="field text-field shared-user-container">
        <% userInfo = "#{friend.fname} #{friend.lname} (#{friend.email})" %>
        <div class="input-group mb-3">
          <input type="text" name="share_email" value='<%= userInfo %>' class="form-control shared-user-disabled-input" disabled>
          <div class="input-group-append">
            <a href=<%= remove_friend_path(friend) %> type="button" class="btn btn-danger"><%= fa_icon "user-times", class: "fa-2x" %></a>
          </div>
        </div>
      </div>
    <% end %>

    <% if @friends.length == 0 %>
      <p>You have not added any friends</p>
    <% end %>
  </div>

</div>

