<div class="content-container-left-align">
  <a href=<%= show_upload_file_path(@file.id) %> class="btn btn-secondary btn-sm back-btn">
  <div class="collapse-arrow" ><i class="arrow left"></i> Back to File</div>
  </a>

  <h2 class="page-title centered-title font-weight-bold">File Origin Analyzer</h2>
  <div class="breaker"></div>

  <%= form_for :leaker_file, url: find_origin_path, html: { method: :post } do |f| %>

    <div class="field browse-file-field">
      <%= f.file_field :origin_audio_file,
                       required: true,
                       :class => "form-control-file",
                       onchange: "validateFiles(this);",
                       data: { max_file_size: (Uploadedfile::MAX_UPLOAD_FILE_SIZE * 1.3) }
      %>
    </div>

    <div class="actions submit-btn">
      <%= f.submit "Analyze", :class => 'btn btn-primary btn-block' %>
    </div>
  <% end %>

  <%= render_async find_origin_results_path(@uploadedfile.id), interval: (10*1000) %>

</div>