<div id="new-file-upload-container">
  <a href=<%= user_dashboard_path %> class="btn btn-secondary btn-sm back-btn">
    <div class="collapse-arrow" ><i class="arrow left"></i> Back to Dashboard</div>
  </a>
  <h1>Upload an audio file</h1>
  <%= form_for @uploadedfile, url: create_upload_file_path, html: { method: :post } do |f| %>

    <div class="field text-field">
      <%= f.text_field :fileName, :placeholder => 'File Name', :class => 'text-input', :id => 'file-name-field', required: true %>
    </div>

    <div class="field text-field">
      <%= f.text_field :description, :placeholder => 'Description', :class => 'text-input' %>
    </div>

    <div class="field browse-file-field">
      <%= f.file_field :audio_file,
                       :id => 'browse-file-field',
                       required: true,
                       onchange: "validateFiles(this);",
                       data: { max_file_size: Uploadedfile::MAX_UPLOAD_FILE_SIZE }
      %>
    </div>

    <%= f.submit "Upload File", :class => 'btn btn-primary btn-block', :id => 'upload_file_btn', :onclick => 'showUploadSpinner()'  %>

    <button class="btn btn-primary btn-block" id="upload_file_spinner" style="display: none" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Uploading...
    </button>
  <% end %>
</div>