<div id="show-audio-file-container">
  <a href=<%= user_dashboard_path %> class="btn btn-secondary btn-sm back-btn">
    <div class="collapse-arrow" ><i class="arrow left"></i> Back to Dashboard</div>
  </a>

  <div id="music-player-container">
    <h5><%= fa_icon "music", class: "fa-lg" %>    <b><%= @uploadedfile.fileName %></b></h5>
    <p><%= fa_icon "file" %>    <%= @audio_file.filename %></p>
    <% if !@uploadedfile.description.blank? %>
      <p><%= fa_icon "info-circle" %>    <%= @uploadedfile.description %></p>
    <% end %>
    <% if current_user.id != @uploadedfile.user_id %>
    <p><%= fa_icon "user-circle" %> <% user = @uploadedfile.user %>   <%= user.fname + " " + user.lname %></p>
    <% end %>
    <p><%= fa_icon "save" %>    <%= (@audio_file.byte_size * 0.000001).round(2).to_s + " MB" %></p>
    <p><%= fa_icon "calendar" %>    <%= @uploadedfile.updated_at.strftime("%m/%d/%Y %I:%M %p") %></p>


    <div class="audio-player">
      <audio controls>
        <source src=<%= rails_blob_url @audio_file %>  type="audio/wav" preload="auto">
        Sorry, your browser does not support the audio player.
      </audio>
    </div>

    <div class="btn-group" role="group" aria-label="Show btn group">

      <div id="download-link-container" class="btn btn-info" data-toggle="tooltip" title="Download">
        <a href=<%= rails_blob_path(@audio_file, disposition: "attachment") %> download="proposed_file_name"><%= fa_icon "download", class: "fa-2x" %></a>
      </div>

      <% if @uploadedfile.user_id == current_user.id %>

      <div data-toggle="tooltip" title="Delete">
        <button id="delete-file-btn" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
          <%= fa_icon "trash", class: "fa-2x" %>
        </button>
      </div>

      <a class="btn btn-success" href=<%= edit_share_file_path(@uploadedfile.id) %> data-toggle="tooltip" title="Share">
        <%= fa_icon "share-alt", class: "fa-2x" %>
      </a>

      <a id="find-leaker-btn" class="btn btn-warning" href=<%= find_origin_form_path(@uploadedfile.id) %> data-toggle="tooltip" title="Find Leaker">
        <%= fa_icon "search", class: "fa-2x" %>
      </a>
      <% end %>

      </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="exampleModalLongTitle">Confirm Deletion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          File will not be recoverable after deletion.
          Anyone you have shared this file will with also lose access.
          You will not be able to use the Find Origin functionality on ths file.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <%= form_tag delete_upload_file_path(@uploadedfile.id), method: "delete" do %>
            <%= button_tag(class: "btn btn-danger") do %>
              Delete
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>