<div id="show-audio-file-container">
  <a href=<%= user_dashboard_path %> class="btn btn-secondary btn-sm back-btn">
    <div class="collapse-arrow" ><i class="arrow left"></i> Back to Dashboard</div>
  </a>

  <div id="music-player-container" class="d-flex justify-content-center flex-wrap">

    <div class="p-2 align-self-center music-player-columns">
      <h2><b><%= @uploadedfile.fileName %></b></h2>
      <p><%= @audio_file.filename %></p>
      <% if !@uploadedfile.description.blank? %>
        <p><%= fa_icon "info-circle" %>    <%= @uploadedfile.description %></p>
      <% end %>
      <% if current_user.id != @uploadedfile.user_id %>
        <p><%= fa_icon "user-circle" %> <% user = @uploadedfile.user %>   <%= user.fname + " " + user.lname %></p>
      <% end %>
      <p><%= fa_icon "hourglass" %> <span id="file-duration">00:00</span></p>
      <p><%= fa_icon "save" %>    <%= (@audio_file.byte_size * 0.000001).round(2).to_s + " MB" %></p>
      <p><%= fa_icon "calendar" %>    <%= local_time(@uploadedfile.updated_at, '%m/%d/%Y %I:%M %p') %></p>
    </div>

    <div class="p-2 align-self-center music-player-columns">
      <div class="audio-player">
        <audio id="player">
          <source src=<%= rails_blob_url @audio_file %>  type="audio/wav" preload="auto">
          Sorry, your browser does not support the audio player.
        </audio>
      </div>
      <div id="progress-circle-container">
        <div id="progress-circle" class="progress mx-auto" data-value='0'>
          <span class="progress-left">
                        <span class="progress-bar border-primary"></span>
          </span>
          <span class="progress-right">
                        <span class="progress-bar border-primary"></span>
          </span>

          <!-- Center text -->
          <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
            <div id="current-playback-time" class="h3 font-weight-bold">00:00</div>
            <div id="play-music-btn" onclick="clickPlay()">
              <%= fa_icon "play-circle", class: "fa-2x" %>
            </div>

            <div id="pause-music-btn" onclick="clickPause()">
              <%= fa_icon "pause-circle", class: "fa-2x" %>
            </div>

          </div>
          <!-- Center text -->

        </div>
      </div>
    </div>

    <div class="p-2 align-self-center music-player-columns">
      <div class="d-flex flex-column">
        <div class="p-2">
          <div data-toggle="tooltip" title="Download">
            <a id="download-link-container" class="btn btn-info d-flex justify-content-center" href=<%= rails_blob_path(@audio_file, disposition: "attachment") %> download="proposed_file_name">
              <div class="p-2 align-self-center"><%= fa_icon "download", class: "fa-2x" %></div>
              <div class="p-2 align-self-center"> Download</div>
            </a>
          </div>
        </div>
        <% if @uploadedfile.user_id == current_user.id %>
          <div class="p-2">
            <a id="share-file-btn" class="btn btn-success d-flex justify-content-center" href=<%= edit_share_file_path(@uploadedfile.id) %> data-toggle="tooltip" title="Share">
              <div class="p-2 align-self-center"><%= fa_icon "share-alt", class: "fa-2x" %></div>
              <div class="p-2 align-self-center">Share</div>
            </a>
          </div>
          <div class="p-2">
            <a id="find-leaker-btn" class="btn btn-warning d-flex justify-content-center" href=<%= find_origin_form_path(@uploadedfile.id) %> data-toggle="tooltip" title="Find Leaker">
              <div class="p-2 align-self-center"><%= fa_icon "search", class: "fa-2x" %></div>
              <div class="p-2 align-self-center">Find Origin</div>
            </a>
          </div>
          <div class="p-2">
            <div data-toggle="tooltip" title="Delete">
              <button id="delete-file-btn" type="button" class="btn btn-danger d-flex justify-content-center" data-toggle="modal" data-target="#delete-file-modal">
                <div class="p-2 align-self-center"><%= fa_icon "trash", class: "fa-2x" %></div>
                <div class="p-2 align-self-center"> Delete</div>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render partial: "uploadedfile/delete_modal", locals: {uploadedfile: @uploadedfile} %>

</div>