<div id="show-audio-file-container">
  <a href=<%= user_dashboard_path %> class="btn btn-secondary btn-sm back-btn">
    <div class="collapse-arrow" ><i class="arrow left"></i> Back to Dashboard</div>
  </a>

  <div id="music-player-container">
    <h5><b><%= @uploadedfile.fileName %></b></h5>
    <p><%= @audio_file.filename %></p>
    <p><%= @uploadedfile.description %></p>
    <p><%= @uploadedfile.updated_at.strftime("%m/%d/%Y %I:%M %p") %></p>

    <div class="btn-group" role="group" aria-label="Show btn group">
      <div id="play-pause-btn" class="player btn btn-primary">
        <audio onended="resetPlaybtn()">
          <source src=<%= rails_blob_url @audio_file %>  type="audio/wav">
        </audio>
        <div id="play-pause-text" >Play</div>
      </div>
      <!--  <i class="fas fa-cloud-download-alt fa-lg"></i>-->
      <div id="download-link-container" class="btn btn-info">
        <a href=<%= rails_blob_path(@audio_file, disposition: "attachment") %> download="proposed_file_name">Download</a>
      </div>

      <%= form_tag delete_upload_file_path(@uploadedfile.id), method: "delete" do %>
        <%= submit_tag "Delete", class: "btn btn-danger", id: "delete-file-btn" %>
      <% end %>

      <a id="share-btn" class="btn btn-success" href=<%= edit_share_file_path %> >
        Share
      </a>

      <div>
  </div>

</div>