<%= cache(['notifications', Notifications::VERSION, notification]) do %>

<div class="card notification-card">
  <div class="card-header">
<!--    Notification Name-->
  </div>
  <div id="notification-<%= notification.id %>"
       data-id="<%= notification.id %>"
       class="notification-body media notification notification-<%= notification.notify_type %><%= ' unread' unless notification.read? %>">
    <div class="media-left">
      <% if notification.actor_profile_url && notification.actor_avatar_url %>
        <%= link_to image_tag(notification.actor_avatar_url), notification.actor_profile_url, title: notification.actor_name, class: 'user-avatar' %>
      <% end %>
    </div>
    <div class="row notification-row">
      <%= render partial: "/notifications/#{notification.notify_type}", locals: { notification: notification } %>
    </div>
  </div>

</div>
<% end %>
