<div class="content-container-left-align">

  <a href=<%= main_app.user_dashboard_path %> class="btn btn-secondary btn-sm back-btn shadow rounded">
    <div class="collapse-arrow" ><i class="arrow left"></i> Back to Dashboard</div>
  </a>

  <h2 class="page-title centered-title font-weight-bold">Notifications</h2>
  <div class="breaker"></div>

  <div class="notifications-title-button-container">

    <div class="notifications-clear-btn-container">
      <%= link_to "Clear All", notifications.clean_notifications_path, class: 'btn btn-sm btn-secondary shadow rounded', method: 'delete' %>
    </div>
  </div>

  <div>
    <% if @notifications.blank? %>
      <div class="notification-no-records"><%= t('notifications.no_records') %></div>
    <% else %>
      <div class="notifications-list-container">
        <% @notification_groups.each do |group, notifications| %>
          <div class="notifications-group-container">
            <div class="notification-group-title">
              <%= local_time(group, '%m/%d/%Y') %>
            </div>
            <%= render notifications %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @notifications %>
<!--  </div>-->

</div>