<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-5" id="footer-logo-div">
        <img id="footer-logo" src=<%= image_url('logo.svg') %> alt="">
        <span id="footer-spacer" class="d-none d-sm-block"></span>
      </div>
      <div class="col-sm-2">
        <h5>About us</h5>
        <ul>
<!--          <li><a href="#">Company Information</a></li>-->
          <li><a href=<%= "#{main_app.home_info_path}#how-it-works" %>>How It Works</a></li>
<!--          <li></li>-->
<!--          <li><a href="#">Who is it for?</a></li>-->
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Support</h5>
        <ul>
          <li><a href=<%= faq_path %>>FAQ</a></li>
          <li><a href=<%= main_app.contact_path %>>Contact us</a></li>
<!--          <li><a href="#">Help desk</a></li>-->
<!--          <li><a href="#">Forums</a></li>-->
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a href="https://twitter.com/wave_sig" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/wavesig/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/wave_sig/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
        <a href=<%= main_app.contact_path %> type="button" class="btn btn-default">Contact us</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>©2020 WaveSig</p>
  </div>
</footer>