<nav class="navbar navbar-expand-sm navbar-dark">

  <% if user_signed_in? %>
    <a id="nav-bar-logo-container" class="navbar-brand" href=<%= main_app.user_dashboard_path(current_user.id) %>>
      <img id="nav-bar-logo" src=<%= image_url('logo.svg') %> alt="">
    </a>
  <% else %>
    <a id="nav-bar-logo-container" class="navbar-brand" href=<%= main_app.home_info_path %>>
      <img id="nav-bar-logo" src=<%= image_url('logo.svg') %> alt="">
    </a>
  <% end %>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
    <% if user_signed_in? %>
      <span id="mobile-notification-badge" class="">
        <%= render_async main_app.notifications_count_path, event_name: "notifications-count-loaded", interval: (30*1000) %>
      </span>
    <% end %>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav ml-auto">

      <% if not user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link menu-item-text nav-link-item" href=<%= main_app.new_user_session_path %> >Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-item-text nav-link-item" href=<%= main_app.new_user_registration_path %> >Sign Up <span class="sr-only">(current)</span></a>
        </li>
      <% else %>

        <li class="nav-item" data-toggle="tooltip" title="Dashboard">
          <a class="nav-link nav-link-item" href=<%= main_app.user_dashboard_path(current_user.id) %>>
            <div class="collapsed-menu-item">
              <%= fa_icon "home", class: "fa-2x" %>
              <div class="d-sm-none menu-item-text">Home</div>
            </div>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" title="Notifications">
          <a class="nav-link nav-link-item" href=<%= main_app.notifications_path %>>
            <div class="collapsed-menu-item">
              <span id="notification-icon"
                    class="fa-stack has-badge"
                    data-count="">
              <%= fa_icon "bell", class: "fa-2x" %>
              </span>
              <div class="d-sm-none menu-item-text">Notifications</div>
            </div>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" title="Friends">
          <a class="nav-link nav-link-item" href=<%= main_app.friends_path(current_user.id) %>>
            <div class="collapsed-menu-item">
              <%= fa_icon "users", class: "fa-2x" %>
              <div class="d-sm-none menu-item-text">Friends</div>
            </div>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link nav-link-item btn" id="dropdown03" data-toggle="dropdown" title="Account" aria-haspopup="true" aria-expanded="false" href="#">
            <div class="collapsed-menu-item">
              <%= fa_icon "user", class: "fa-2x" %>
              <div class="d-sm-none menu-item-text">Account</div>
              <%= fa_icon "angle-down", class: "expand-down-arrow" %>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown03">
            <%= link_to "Logout", main_app.destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href=<%= main_app.edit_user_registration_path %>>Edit Profile</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-divider"></div>
            <div class="logged-in-as-text">Logged in as <%= current_user.fname + " " + current_user.lname %></div>
          </div>
        </li>

      </ul>
      <% end %>


  </div>
</nav>