<!DOCTYPE html>
<html>
  <head>
    <title>Wavesig</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "layouts/header" %>

    <div id="wrap">
      <div id="main" class="clear-top">

        <!-- alerts -->
        <%# if notice %>
<!--          <p class="alert alert-success"><%#= notice %></p>-->
        <%# end %>
        <%# if alert %>
<!--          <p class="alert alert-danger"><%#= alert %></p>-->
        <%# end %>
        <!-- alerts -->

        <% unless flash.empty? %>
          <script type="text/javascript">
              <% flash.each do |f| %>
              <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
              toastr['<%= type %>']('<%= f[1] %>');
              <% end %>
          </script>
        <% end %>

        <!-- page content-->
        <%= yield %>
      </div>
    </div>

    <%= render "layouts/footer" %>

  </body>
</html>
