<!DOCTYPE html>
<html>
  <head>
    <title>Wavesig</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  </head>

  <body>

    <%= render "layouts/header" %>
    <%= content_for :render_async %>

    <div id="wrap">
      <div id="main" class="clear-top">

        <!-- alerts -->
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <!-- alerts -->

        <!-- page content-->
        <%= yield %>
        <!-- page content-->
      </div>
    </div>

    <%= render "layouts/footer" %>

  </body>
</html>
